/*------------------------------------------------------------------
standard gallery design
-------------------------------------------------------------------*/
.gallery-content {
    width: 657px; min-height: 180px;
    background: url(../img/bg-pixel.png) 0 0 repeat;
    margin-bottom: 20px;
}
.gallery_images {
    display: table;
    border: 7px solid transparent;
}
.gallery_row {
    display: table-row;
}
.gallery_row .grouped_elements, .gallery-content .cell {
    border: 7px solid transparent;
    border-collapse: collapse;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
}
.gallery-content .pagination {
    height: 20px;
}
.gallery_back {
    text-align: left;
}
.gallery_back a {
    background: url(../img/arrow-lt.gif) left -16px no-repeat;
    display: block;
    padding-left: 17px;
}
.gallery_back a:hover {
    background-position: left 4px;
}
.gallery_next {
    text-align: right;
}
.gallery_next a {
    background: url(../img/arrow-rt.gif) right -16px no-repeat;
    padding-right: 17px;
    display: block;
}
.gallery_next a:hover {
    background-position: right 4px;
}