/* Audio Player
----------------------------------*/
.audio-controls button, .audio-controls .progress-holder {
	float: left;
}
.audio-controls .progress-holder  {
	width: 200px;
	padding: 2px 10px 0;
}

.audio-controls .loaderbar {
	height: 1px;
}