/*------------------------------------------------------------------
basic tags moved to boilerplate.css

Alle Elemente innerhalb .container müssen ein vielfaches von 18 in der Höhe sein!
http://www.garethjmsaunders.co.uk/blueprint/
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
layout
-------------------------------------------------------------------*/
/*
font-family:'BookmanOldStyleW01-Bold 691970'; Bold
font-family:'BookmanOldStyleW01-Bold 691973'; Bold Italic
font-family:'BookmanOldStyleW01-Ital'; Italic
font-family:'Bookman Old Style W01'; Regular
font-family:'FuturaW01-HeavyOblique';
*/

body {
    font-family: 'Bookman Old Style W01';
font-size: 0.9em;
}

header, #header {
    height: 110px;
    position: relative;
}

#logo {
    float: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#navigation {
    float: right;
    font-size: 15px;
    text-align: right;
    position: absolute;
    bottom: 18px;
    right: 0px;
}

#sidebar {
    position: relative;
    float: right;
    top: -120px;
}

footer, #footer {
    position: relative;
}

.clear {
    clear: both;
}

/*------------------------------------------------------------------
basic styling
-------------------------------------------------------------------*/
h1, h1 a {
    color: #72b038;
    font-family: 'FuturaW01-HeavyOblique';
    font-size: 25px;
    font-style: normal;
    margin: 20px 0 5px 0;
    text-transform: uppercase;
}

h2, h2 a {
    color: #72b038;
    font-family: 'FuturaW01-HeavyOblique';
    font-size: 17px;
    margin: 10px 0 0 0;
    text-decoration: none;
    text-transform: uppercase;
}

h3, h3 a {
    color: #3b3b3b;
    font-family: 'BookmanOldStyleW01-Bold 691973';
    font-size: 15px;
    margin: 10px 0 5px 0;
}

a, a:active, a:focus {
    color: #72b038;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=submit],
a.button {
    background: url(/media/img/design/button-arrow-down.png) #003325 no-repeat right;
    color: #72b038;
    display: block;
    float: right;
    font-family: 'BookmanOldStyleW01-Bold 691973';
    margin: 20px 0 0 0;
    padding: 10px 70px 10px 10px;
    text-decoration: none;
    text-transform: lowercase;
    -mox-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

a.button-next {
    background: url(/media/img/design/button-arrow-next.png) no-repeat;
    display: block;
    float: left;
    height: 55px;
    width: 53px;
    z-index: 1000;
}

a.button-previous {
    background: url(/media/img/design/button-arrow-previous.png) no-repeat;
    display: block;
    float: left;
    height: 55px;
    width: 53px;
}

/*------------------------------------------------------------------
navigation
-------------------------------------------------------------------*/
#navigation {
    color: #002b20;
    font-size: 18px;
    font-family: 'BookmanOldStyleW01-Bold 691970';
    text-decoration: none;
}

#navigation a {
    color: #002b20;
    text-decoration: none;
}

#meta-navigation {
    float: left;
    font-size: 17px;
    margin: 20px 0 0 0;
}

#meta-navigation a {
    color: #002b20;
    font-family: 'Bookman Old Style W01';
    text-decoration: none;
}

#navigation a:hover,
#meta-navigation a:hover,
#navigation a.current,
#meta-navigation a.current {
    color: #72b038;
}

/*------------------------------------------------------------------
moodboard
-------------------------------------------------------------------*/
div.moodboard-wrapper {
    background-color: #f0f0f0;
    margin: 30px 0;
}

div.moodboard {
    font-family: 'BookmanOldStyleW01-Ital';
    font-size: 16px;
    min-height: 65px;
}

div.slides {
    height: 420px;
}

div.slides>div.slide {
    width: 950px;
}

img.slide-image {
    float: left;
    margin: 0 20px 0 0;
    width: 630px;
    -mox-box-shadow: 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

div.slide-text {
    width: 100%;
}

article, .article {
    margin: 0 0 15px 0;
}

article h3, .article h3 {
    margin-left: 90px;
}

article div.text, .article div.text {
    margin-left: 90px;
}

article img, .article img {
    float: left;
}

.article-link-box, .article-link-box:hover, .article-link-box:active, .article-link-box:focus {
    color: #fff;
    text-decoration: none;
}

/*------------------------------------------------------------------
sidebar
-------------------------------------------------------------------*/
.box-dark, .box-bright {
    color: #fff;
    padding: 15px;
    font-family: 'BookmanOldStyleW01-Bold 691970';
    font-weight: normal;
    margin: 0 0 20px 0;
}

.box-dark a, .box-bright a {
    color: #fff;
}

.box-dark h2, .box-bright h2, .box-dark h2 a, .box-bright h2 a {
    color: #fff;
    font-family: 'FuturaW01-HeavyOblique';
    font-weight: normal;
    text-transform: uppercase;
}

.box-dark {
    background-color: #55726a;
}

.box-bright {
    background-color: #869a95;
}

/*------------------------------------------------------------------
home
-------------------------------------------------------------------*/
#home-box-container1 {
    border-right: 1px solid #e1e1e1;
    float: left;
    width: 100%;
    position: relative;
    right: 33.3%;
}

#home-box-container2 {
    border-right: 1px solid #e1e1e1;
    float: left;
    width: 100%;
    position: relative;
    right: 33.3%;
}

#home-box-container3 {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#home-box-left, #home-box-center, #home-box-right {
    float: left;
    font-weight: bold;
    position: relative;
}

#home-box-left {
    width: 30.3%;
    left: 66.6%;
}

#home-box-center {
    width: 27.3%;
    left: 72.6%;
}

#home-box-right {
    width: 30.3%;
    left: 78.6%;
}

p.quote {
    font-style: italic;
    margin: 0 0 50px 0;
}

p.quote:before {
    content: "\00AB";
}

p.quote:after {
    content: "\00BB";
}

#quote-navigation {
    margin: 140px 0 0 180px;
    position: relative;
    z-index:105;
}

#logos {
   position: relative;
}

#logo-googlegroups {
    background: url(/media/img/design/button_googlegroups.png) no-repeat;
    display: block;
    float: left;
    height: 62px;
    left: -130px;
    position: relative;
    width: 148px;
}

#logo-github {
    background: url(/media/img/design/button_github.png) no-repeat;
    display: block;
    float: left;
    height: 56px;
    position: relative;
    left: 133px;
    width: 130px;
}

/*------------------------------------------------------------------
footer
-------------------------------------------------------------------*/
footer hr {
    background-color: #7f958f;
    height: 5px;
    margin: 0 0 10px 0;
}

#logo-python, #logo-django {
    float: right;
}

/*------------------------------------------------------------------
blog
-------------------------------------------------------------------*/
article header {
    height: auto;
    margin: 0 0 5px 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

.pagination {
    text-align: center;
}

/*------------------------------------------------------------------
app library
-------------------------------------------------------------------*/
/* app list */
.app-list>ul{
    padding: 0;
}

.app {
    list-style: none;
    margin-bottom: 30px;
}

.app-title {
    margin-top: 0;
}

.app-icon {
    max-width: 64px;
    max-height: 64px;
}

.app-info {
    margin-left: 10px;
    width: 840px;
}

.app-edit {
    float: left;
}

/* app detail */
.app-detail .app-info {
    margin-bottom: 20px;
}

.app-detail .properties {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.app-detail .links {
    margin-top: 1em;
}


/* submit form */
.submission-form,
.register_form,
.login_form {
    width: 508px;
}

label {
    float: left;
    width: 200px;
    line-height: 1.8em;
    clear: both;
    padding-top: 5px;
    font-weight: normal;
}

.required {
    clear: both;
}

.required label {
    font-weight: bold;
}

.mceLayout {
    margin-bottom: 10px!important;
}

input,
textarea,
select {
    float: left;
    margin-bottom: 10px;
    padding: 3px;
    width: 300px;
}

.errors input,
.errors textarea,
.errors select,
.errors .mceLayout {
    border: 1px solid #8A1F11!important;
    background-color: #FCEFF0!important;

}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #003325!important;
    background-color: #F1FCE5!important;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;

}

textarea {
    height: 150px;
}

input[type=submit],
form .button {
    font-size: 14px;
    border: none;
    klear: both;
    float: right;
    margin: 7px 0 20px 0;
    width: auto;
}

form ul {
    list-style: none;
    padding: 0;
    float: left;
    width: 200px;
    margin: 0 0 5px 0;
}

form input[type=checkbox] {
    width: auto;
    margin: 5px 10px 0 0;
}

form ul label {
    padding: 0;
    font-weight: normal;
}

ul.errorlist {
    color: #8A1F11;
    margin: -7px 0 5px 200px;
}

/*------------------------------------------------------------------
login
-------------------------------------------------------------------*/
.social-auth .button {
    margin-right: 10px;
}

/*------------------------------------------------------------------
feinheit standard
-------------------------------------------------------------------*/
#byfeinheit {
    background:transparent url(/media/img/skel/feinheit.gif) no-repeat scroll 0 0;
    display:block;
    height:53px;
    position:absolute;
    right:0;
    text-indent:-7777px;
    top:0;
    width:16px;
}
