/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
 
@media only screen and (max-device-width: 640px) {
    * {
      float: none;       /* Screens are not big enough to account for floats */
      background: #fff;  /*  As much contrast as possible */
      color: #000;
    }
    
    body { font-size: 80% }
    
    header {
        height: 30px !important;
        padding: 2px 10px !important;
        margin: 10px 0 !important;
    }
    
    nav {
        margin-top: 0 !important;
    }
    
    nav ul li a, nav ul li ul li  {
        padding-left: 10px !important;
    }
    
    div.navigation {
        -webkit-text-size-adjust: 90%;
    }
    
    
    footer {
        display: none;    
    }
    
    div#footer {
        position: relative !important;
    }
    #byfeinheit { display: none; }
    
      /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
         j.mp/textsizeadjust
      html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
      
}
/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* Text overflow with ellipsis */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea.contenteditable {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}



@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-device-width: 569px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (max-device-width: 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}