[submodule "lib/django"]
	path = lib/django
	url = /var/cache/git/django/django.git/
[submodule "lib/mptt"]
	path = lib/mptt
	url = git://github.com/django-mptt/django-mptt.git
[submodule "lib/feincms"]
	path = lib/feincms
	url = git://github.com/feincms/feincms.git
[submodule "lib/feinheit"]
	path = lib/feinheit
	url = git@github.com:feinheit/feinheit.git
[submodule "lib/django_compressor"]
	path = lib/django_compressor
	url = git://github.com/mintchaos/django_compressor.git
[submodule "lib/django-rosetta"]
	path = lib/django-rosetta
	url = git://github.com/mbi/django-rosetta.git
[submodule "lib/form_designer"]
	path = lib/form_designer
	url = git://github.com/matthiask/form_designer.git
[submodule "lib/django-fhadmin"]
	path = lib/django-fhadmin
	url = git@github.com:feinheit/django-fhadmin.git
[submodule "lib/feincms-oembed"]
	path = lib/feincms-oembed
	url = git://github.com/feincms/feincms-oembed.git
