*.pyc
*~
.*.swp
\#*#
*.mo
/log/*.log*
.DS_Store
.settings
.project
.pydevproject
*eclipse*
/secrets.py
/media/medialibrary
/media/uploads
/media/cache
/static
.Python
/bin/
/include/
/lib/python2.*
/.idea/
