{% extends "registration/base_registration.html" %}


{% block title %}Register for an account{% endblock %}
{% block body_class %}{{ block.super }} registration_form{% endblock %}


{% block inner-content %}
<form action="." method="post" class="register_form">{% csrf_token %}
    <h2>Register for an account</h2>
    {% for field in form %}
    <div class="{% if field.errors %}errors {% endif %}{% if field.field.required %}required{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
