{% extends feincms_page.template.path|default:"base.html" %}

{% load elephantblog_tags feincms_tags i18n %}

{% block title %}{% trans "News" %} - {{ block.super }}{% endblock %}

{% block moodboard %}
<div class="moodboard span-24">
    <h1>{{ object }}</h1>
    <p>
    {% for category in entry.categories.all %}
        <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% else %} | {% endif %}
    {% endfor %}
    {{ entry.published_on|date:"j F Y" }}
    </p>
</div>
{% endblock %}

{% block content %}
<div id="sidebar" class="span-8 last">
    <div class="categories box-dark">
        {% elephantblog_categories as categories %}
        <ul class="toc">
            <li class="title"><h2><a href="{{ feincms_page.get_absolute_url }}">Kategorien</a></h2></li>
            {% for category in categories %}
                <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="archive box-bright">
        {% elephantblog_archive_months as months %}
        <ul class="toc">
            {% for month in months %}
                {% ifchanged month.year %}<h2><li class="title"><a href="{{ feincms_page.get_absolute_url }}{{ month.year }}/">Archiv {{ month.year }}</a></h2></li>{% endifchanged %}
                <li><a href="{{ feincms_page.get_absolute_url }}{{ month|date:"Y/m/" }}">{{ month|date:"F" }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% feincms_render_region object "main" request %}
{% endblock %}
