{% load i18n applicationcontent_tags %}
<section>
    <div class="app-detail">
            <div class="app-icon left">
	            <div class="iconstyle">
	            {% if app.icon %}
	                <img src="{{ MEDIA_URL }}{{ app.icon }}"/>
	                {% else %}
	                <img src="{{ MEDIA_URL }}img/design/icon_default.png"/>
	            {% endif %}
	            </div>
            </div>
            <div class="app-info left">
                <h2 class="app-title">{{ app.title }}{% if app.author == request.user %}&nbsp;<a href="{% app_reverse 'app_library_edit' 'feincmsorg.app_library.urls' slug=app.slug %}" class="edit">(edit)</a>{% endif %}</h2>
                <div class="properties">
                    <span class="label">{% trans "Author" %}</span>: {{ app.author.get_full_name }}<br />
                    <span class="label">{% trans "License" %}</span>: {{ app.get_licence_display|default:app.licence }}<br />
                    {% if app.categories.count %}
                        <span class="label">
                        {% if app.categories.count > 1 %}
                            {% trans "Categories" %}:
                        {% else %}
                            {% trans "Category" %}:
                        {% endif %}
                        </span>
                        {% for cat in app.categories.all %}
                            {{ cat }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="description">
                {{ app.translation.long_description|safe }}
                </div>
                <div class="links">
                    {% if app.project_url %}<a href="{{ app.project_url }}">{% trans "Project page" %}</a>{% endif %}
                    {% if app.doc_url %} / <a href="{{ app.doc_url }}">{% trans "Documentation" %}</a>{% endif %}
                </div>
            </div>
    </div>
</section>
