{% load applicationcontent_tags %}
<section>
<div class="app-list">
    <ul>
        {% for app in apps %}
        <li class="app">
            <div class="clearfix">
            {% if app.icon %}
                <div class="app-icon left"><img src="{{ MEDIA_URL }}{{ app.icon }}"/></div>
            {% else %}
                <div class="app-icon left"><img src="{{ MEDIA_URL }}img/design/icon_default.png"/></div>
            {% endif %}
                <div class="app-info left">
                    <h2 class="app-title"><a href="{% app_reverse 'app_library_detail' 'app_library.urls' slug=app.slug %}">{{ app.title }}</a></h2>
                    {{ app.translation.short_description|safe }}
                    {% if app.author == request.user %}<a href="{% app_reverse 'app_library_edit' 'app_library.urls' slug=app.slug %}">edit</a>{% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <p><a class="submitlink" href="{% app_reverse 'app_library_submit' 'app_library.urls' %}">Submit your own app</a>
</div>
</section>
