<!doctype html> {% load applicationcontent_tags feincms_tags feincms_page_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="{% block meta-keywords %}{{ feincms_page.meta_keywords }} {{ block.super }}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% if feincms_page.meta_description %}{{ feincms_page.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}" />
    <meta name="robots" content="index,follow,noodp" />
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block handheldhead %}
    <meta name="viewport" content="width=device-width">
    {% endblock %}

    {% block og-tags %}
    <!-- required -->
    <meta property="og:title" content="{{ feincms_page.title }} - feinCMS.org" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://feincms.org{{ feincms_page.get_absolute_url }}" />
    <meta property="og:image" content="http://feincms.org/media/img/design/logo_feincms.png" />
    <!-- /required -->
    <meta property="og:language" content="en" />
    <meta property="og:country-name" content="Switzerland" />
    {% endblock %}

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/boilerplate.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css" />
    <link href="http://fast.fonts.com/cssapi/7ce1588c-5321-463a-af7f-21dbda5cb5eb.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}lib/jquery-moodboard/moodboard.css" />
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" /><![endif]-->

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}lib/jquery/jquery-1.6.1.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/global.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}lib/jquery-moodboard/moodboard.js"></script>

    {{ feincms_page.content.media }}

    <title>{% block title %}{{ feincms_page.title }} - feinCMS.org{% endblock %}</title>

    {% block extra-head %}{% endblock %}
</head>

<body>
<div class="container">
    <header><div id="header">
        {% if request.user.is_authenticated %}<a class="logout" href="{% url auth_logout %}">logout</a>{% endif %}
        <a href="/"><img id="logo" src="{{ MEDIA_URL }}img/design/logo_feincms.png" alt="FeinCMS Logo"></a>
        <div id="navigation">
            <nav>
                <div class="span-18 clearfix">
                    {% feincms_navigation of feincms_page as nav level=1 %}
                    {% for p in nav %}
                        <a {% if p|is_equal_or_parent_of:feincms_page %}class="current"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a>
                        {% if not forloop.last %}<span class="nav-separator">&nbsp;/&nbsp;</span>{% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>
    </div></header>
</div>
<div class="moodboard-wrapper clearfix">
    <div class="container">
        {% block moodboard %}
            <div class="moodboard span-{% if feincms_page.content.sidebar|length = 0 %}24{% else %}15{% endif %}">
                <h1 class="contenttitle">{% if feincms_page.content_title %}{{ feincms_page.content_title }}{% else %}{{ feincms_page.title }}{% endif %}</h1>
                {% feincms_render_region feincms_page "moodboard" request %}
            </div>
        {% endblock %}
    </div>
</div>
<div class="container clearfix">
    <div class="main span-24 last">
        {% block content %}
            <div class="span-{% if feincms_page.content.sidebar|length = 0 %}24{% else %}15{% endif %}">
                {% feincms_render_region feincms_page "main" request %}
            </div>
            <div id="sidebar" class="span-8 last">
                {% for content in feincms_page.content.sidebar %}
                <div class="{% if forloop.first %}box-dark{% else %}box-bright{% endif %}">
                    {{ content.render }}
                </div>
                {% endfor %}
            </div>
        {% endblock %}
    </div>
</div>
<div class="container">
    <footer class="clearfix"><div id="footer">
        <hr>
        <nav><div id="meta-navigation">
            {% for p in meta_navigation %}
                <a {% if p|is_equal_or_parent_of:feincms_page %}class="current"{% endif %} href="{{ p.get_absolute_url }}" class="ajax" rel="{{ p.get_navigation_url }}">{{ p.title }}</a>
                {% if not forloop.last %}<span class="nav-separator">&nbsp;/&nbsp;</span>{% endif %}
            {% endfor %}
        </div></nav>
        <a href="http://www.djangoproject.com"><img id="logo-django" src="{{ MEDIA_URL }}img/design/logo_django.png" alt="django logo"></a>
        <a href="http://www.python.org"><img id="logo-python" src="{{ MEDIA_URL }}img/design/logo_python.png" alt="python logo"></a>
    </div></footer>
</div>

<a title="FEINHEIT Grafik Zürich" id="byfeinheit" href="http://www.feinheit.ch/">FEINHEIT Grafik Zürich – CI/CD, Webdesign, Flash, Webshop, XHTML/CSS</a>

{% if feincms_page and request.user.is_authenticated %}
<div id="edit-links">
    {% get_fragment request "admin-link" %}<a class="edit-link" href="/admin/page/page/{{ feincms_page.id }}/">{{ feincms_page.title }} (Edit)</a>
</div>
{% endif %}

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25752735-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
