{% extends "base.html" %}
{% load feincms_tags feincms_page_tags applicationcontent_tags %}

{% block meta-keywords %}{{ feincms_page.meta_keywords }} {{ block.super }} {% endblock %}
{% block meta-description %}{% if feincms_page.meta_description %}{{ feincms_page.meta_description }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block meta-title %}{{ block.super }} {{ feincms_page.content_title }}{% endblock %}

{% block extra-css %}
    {% get_fragment request "extra-css" %}
{% endblock %}
{% block extra-js %}
    {% get_fragment request "extra-js" %}
{% endblock %}

{% block title %}{% if feincms_page.page_title %}{{ feincms_page.page_title }}{% else %}{{ feincms_page.title }}{% endif %} - {{ block.super }}{% endblock %}

{% block navigation %}
<nav>
    <div class="span-18 clearfix">
        {% feincms_navigation of feincms_page as nav level=1 %}
        {% for p in nav %}
            <a {% if p|is_equal_or_parent_of:feincms_page %}class="current"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a>
            {% if not forloop.last %}<span class="nav-separator">&nbsp;/&nbsp;</span>{% endif %}
        {% endfor %}
    </div>
</nav>
{% endblock %}

{% block moodboard %}
    {% feincms_render_region feincms_page "moodboard" request %}
{% endblock moodboard %}

{% block content_title %}
    <h1 class="contenttitle">{% if feincms_page.content_title %}{{ feincms_page.content_title }}{% else %}{{ feincms_page.title }}{% endif %}</h1>
{% endblock content_title %}

{% block content %}
    {% feincms_render_region feincms_page "main" request %}
{% endblock content %}

{% block footer %}
    <footer class="clearfix"><div id="footer">
        <hr>
        <nav><div id="meta-navigation">
            {% for p in meta_navigation %}
                <a {% if p|is_equal_or_parent_of:feincms_page %}class="current"{% endif %} href="{{ p.get_absolute_url }}" class="ajax" rel="{{ p.get_navigation_url }}">{{ p.title }}</a>
                {% if not forloop.last %}<span class="nav-separator">&nbsp;/&nbsp;</span>{% endif %}
            {% endfor %}
        </div></nav>
        <a href="http://www.djangoproject.com"><img id="logo-django" src="{{ MEDIA_URL }}img/design/logo_django.png" alt="django logo"></a>
        <a href="http://www.python.org"><img id="logo-python" src="{{ MEDIA_URL }}img/design/logo_python.png" alt="python logo"></a>
    </div></footer>
{% endblock footer %}
