{% extends "feincms_base.html" %}
{% load feincms_tags feincms_page_tags applicationcontent_tags %}

{% block moodboard %}
    <div class="moodboard span-15">
        <h1 class="contenttitle">{% if feincms_page.content_title %}{{ feincms_page.content_title }}{% else %}{{ feincms_page.title }}{% endif %}</h1>
        {% feincms_render_region feincms_page "moodboard" request %}
    </div>
{% endblock moodboard %}

{% block content %}
    <div class="span-15">
        {% feincms_render_region feincms_page "main" request %}
    </div>
    <div id="sidebar" class="span-8 last">
        {% for content in feincms_page.content.sidebar %}
        <div class="{% if forloop.first %}box-dark{% else %}box-bright{% endif %}">
            {{ content.render }}
        </div>
        {% endfor %}
    </div>
{% endblock content %}
