{% extends "base.html" %}
{% load feincms_tags feincms_page_tags applicationcontent_tags testimonial_tags %}

{% block moodboard %}
<div class="slides playing clearfix">
    {% feincms_render_region feincms_page "moodboard" request %}
</div>
{% endblock moodboard %}

{% block content %}
    {% feincms_render_region feincms_page "main" request %}
    {% get_testimonials as testimonials %}
    <div id="home-box-container3">
    <div id="home-box-container2">
    <div id="home-box-container1">
        <div id="home-box-left">
            <h2>Source & Contributing</h2>
            <p>Got any questions? The Google Groups mailing list will help you.<p>
            <p>The source code is hosted on Github &ndash; it's the best out there.</p>
            <div id="logos">
                <a id="logo-github" href="https://github.com/feincms/feincms"></a>
                <a id="logo-googlegroups" href="http://groups.google.com/group/django-feincms"></a>
            </div>
        </div>
        <div id="home-box-center">
            <h2>Top Features</h2>
            <ul>
                <li>Simple content management</li>
                <li>Only the features you really need</li>
                <li>Does everything you need (but nothing more)</li>
            <ul>
        </div>
        <div id="home-box-right">
            <div class="quotes moodboard">
            {% for testimonial in testimonials %}
                <div class="slide">
                    <h2>{{ testimonial.name }}</h2>
                    <p class="quote">{{ testimonial.text }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}
