{% extends "feincms_base.html" %}
{% load feincms_tags feincms_page_tags applicationcontent_tags %}

{% block moodboard %}
<div class="slides playing clearfix">
    {% feincms_render_region feincms_page "moodboard" request %}
</div>
{% endblock moodboard %}

{% block content %}
    {% feincms_render_region feincms_page "main" request %}
    <div id="home-box-container3">
    <div id="home-box-container2">
    <div id="home-box-container1">
        <div id="home-box-left">
            <h2>Source & Contributing</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer, adipiscing elit,<p>
            <div id="logos">
                <a id="logo-github" href="https://github.com/feincms/feincms"></a>
                <a id="logo-googlegroups" href="http://groups.google.com/group/django-feincms"></a>
            </div>
        </div>
        <div id="home-box-center">
            <h2>Top Features</h2>
            <ul>
                <li>Top Feature 1</li>
                <li>Top Feature 2</li>
                <li>Top Feature 3</li>
            <ul>
        </div>
        <div id="home-box-right">
            <div class="quotes moodboard">
                <div class="slide">
                    <h2>Max Muster</h2>
                    <p class="quote">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Lorem ipsum dolor sit amet, consectetuer.</p>
                </div>
                <div class="slide">
                    <h2>Erika Mustermann</h2>
                    <p class="quote">sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}
